<div>
    <h2>Lista de Meses</h2>
    <label for="periodo">Periodo:</label>
    <input
      id="periodo"
      name="periodo"
      [value]="fperiodo"
      (input)="setPeriodo($event.target.value)"
      type="number"
      min="1900"
      [max]="anioactual"
    >
  
    <label for="meses">Selecciona un mes:</label>
    <select id="meses" name="meses" [(ngModel)]="finicio">
      <option *ngFor="let mes of lmesesini" [value]="mes.value">
        {{ mes.label }}
      </option>
    </select>
  
    <button (click)="consultar()">Consultar</button>
  
    <div *ngIf="mensajeError" class="error-message">
      {{ mensajeError }}
    </div>
  </div>
  
